<%= flash[:notice] %>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'user', user: @user, book: @book%>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class = "table">
        <tr>
          <td><%= image_tag @book_id.user.get_profile_image(100,100) %>
          <p><%= link_to @user.name, user_path(@user.id) %></p>
          </td>
          <td>
            <div class="text-break">
              <%= link_to  book_path(@book_id.id) do %>
                <%= @book_id.title %>
              <% end %>
            </div>
          </td>
          <td>
            <div class="text-break">
              <%= @book_id.body %>
            </div>
          </td>
        <% if @user == current_user %>
          <td><%= link_to "Edit", edit_book_path(@book_id.id) %></td>
          <td><%= link_to "Destroy", book_path(@book_id.id), method: :delete, "data-confirm" =>"Are you sure?" %></td>
        <% end %>
        </tr>     
        
      </table>


    </div>
  </div>
</div>
